<div class="container table-container">
  <h2 class="text-center mb-4">Produtos</h2>
  <table class="table table-striped table-bordered">
      <thead class="thead-dark">
          <tr>
              <th>ID</th>
              <th>NOME</th>
              <th>PREÇO</th>
              <th>DESCRIÇÃO</th>
              <th>QUANTIDADE</th>
              <th>TIPO</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let produto of responseProd">
              <td>{{ produto.id }}</td>
              <td>{{ produto.Nome }}</td>
              <td>{{ produto.Preco | currency:'BRL':'symbol':'1.2-2' }}</td>
              <td>{{ produto.descricao }}</td>
              <td>{{ produto.Quantidade }}</td>
              <td>{{ produto.Tipo }}</td>
          </tr>
      </tbody>
  </table>
</div>